@model IEnumerable<DonareISS.OperatorCentru>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <p hidden class=" adresa" id="adr">@item.Adresa</p>
    }
    <div id="map" style="height:500px"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEjIPgwtANC_dxfnSmOe2z2gOK6g6sGf0&callback=initMap&region=RO&libraries=geometry"
            async defer></script>

    <script src="~/Content/MapsContent/GMap.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</table>
