/*General style*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
}

/*Logo classes*/
.logo-iss{
    width: 40px;
    height: 40px;
}

.logo-wrapper .logo{
    margin: 5px 0 0 5px;
}

/*Container classes*/
.container.background-white {
    background-color: white;
}

.wrapper-container {
    background-color: #f5f5f5;
}

/*Card/row classes*/
.row.card {
    box-shadow: 0px 0px 5px #888888;
    border-radius: 2px;
    margin: 10px;
}

.footer-wrapper .footer {
    background-color: #222222;
    color: #999999;
}