
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutMedic.cshtml";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="success">
            @ViewBag.Msg
        </p>
    </div>
</div>